:root {
  /*fonts colours */
  --body-fonts-main-color: #212121;
  --body-fonts-onbackgraund-color: #ffffff;
  --general-text-fonts-color: #757575;
  --logo-first-color: #2196f3;
  --logo-header-back-color: #000000;
  --logo-footer-back-color: #ffffff;
  --active-btn-fonts-color: #ffffff;
  --active-link-fonts-color: #2196f3;
  --main-svg-color: #afb1b8;
  /*background colours */
  --body-background-main-color: #e5e5e5;
  --header-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --hero-btn-background-color: #2196f3;
  --body-additional-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --active-btn-background-color: #2196f3;
  --cards-background-color: #ffffff;
  /*border colors*/
  --header-botton-color: #ececec;
  --product-example-card-border: #eeeeee;
  /*distance between content*/
  --horisondal-content-offset-negative: -30px;
  --horisondal-content-offset-positive: 30px;
  --vertical-content-offset-negative: -30px;
  --vertical-content-offset-positive: 30px;
  --vertical-section-offset-negative: -94px;
  --vertical-section-offset-positive: 94px;
  /*times*/
  --animation-time: 250ms;
  /*sizes*/
  --portfolio-img-card-height: 294px;
  --portfolio-img-card-width: 370px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--body-fonts-main-color);
  /* background-color: var(--body-background-main-color); */
}

.link {
  transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.link-no-tdn {
  text-decoration: none;
}

.list-no-ls {
  list-style: none;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.front-logo {
  color: var(--logo-first-color);
}

.footer-back-logo {
  color: var(--logo-footer-back-color);
}

.header-back-logo {
  color: var(--logo-header-back-color);
}

.header-logo-wrapper {
  flex-grow: 0.6;
}

.footer-logo-wrapper {
  margin-bottom: 20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button-submit {
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--body-fonts-onbackgraund-color);
  background-color: var(--hero-btn-background-color);
  border-radius: 4px;
  border: none;
}

.button-submit:hover, .button-submit:active {
  box-shadow: none;
}

.button-submit-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 10px;
}

.button-submit-shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1), background-color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1), box-shadow var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: var(--vertical-section-offset-positive);
  padding-bottom: var(--vertical-section-offset-positive);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  vertical-align: top;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  height: 44px;
  width: 44px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--active-btn-background-color);
}

.social-icon {
  fill: var(--main-svg-color);
  width: 20px;
  height: 20px;
  transition: fill var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--body-fonts-onbackgraund-color);
}

.social-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon-footer {
  fill: var(--body-fonts-onbackgraund-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.backdrop {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  transition: opacity var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1), visibility var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  background-color: var(--cards-background-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14) 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.close-btn {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.btn-close-icon {
  width: 100%;
  height: 100%;
  transition: fill var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .btn-close-icon,
.close-btn:focus .btn-close-icon {
  fill: var(--active-btn-background-color);
}

.servise-form {
  width: 100%;
}

.service-modal-title {
  font-size: 20px;
  line-height: calc(23 / 20);
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--body-fonts-main-color);
  margin-bottom: 12px;
  width: 100%;
  text-align: center;
}

.input-label-wrapper:not(last-child) {
  margin-bottom: 10px;
}

.input-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--general-text-fonts-color);
}

.input-wrapper {
  position: relative;
  display: block;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  outline: none;
  transition: border-color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus, .form-input:hover {
  cursor: pointer;
  border-color: var(--active-link-fonts-color);
}

.data-input {
  height: 40px;
  padding-left: 42px;
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--body-fonts-main-color);
  transition: fill var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-icon,
.form-input:hover + .input-icon {
  fill: var(--active-link-fonts-color);
}

.msg-input {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}

.msg-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
  vertical-align: top;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 13px 30px 13px;
}

.modal-checkbox-comment {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(18 / 14);
  text-align: left;
  letter-spacing: 0.03em;
}

.modal-checkbox-comment a {
  color: var(--active-link-fonts-color);
  text-decoration-skip-ink: none;
}

.input-checkbox {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(18 / 14);
  text-align: left;
  letter-spacing: 0.03em;
}

.custom-checkbox-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  background-color: var(--cards-background-color);
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 3px;
  transition: background-color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1), border-width var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .modal-checkbox-comment .custom-checkbox-box {
  background-color: var(--active-btn-background-color);
  border-width: 0;
}

.check-icon {
  width: 13px;
  height: 20px;
  fill: var(--body-fonts-onbackgraund-color);
}

.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-botton-color);
  padding-bottom: 24px;
  padding-top: 24px;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navigation-header {
  flex-grow: 1;
}

.header-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: inherit;
}

.header-nav-link:hover, .header-nav-link:focus {
  color: var(--active-link-fonts-color);
}

.current-page-link {
  position: relative;
  color: var(--active-link-fonts-color);
}

.current-page-link::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  width: 100%;
  border-bottom: 4px solid var(--active-link-fonts-color);
  top: 44px;
}

.header-contact-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--general-text-fonts-color);
}

.header-contact-link:hover, .header-contact-link:focus {
  color: var(--active-link-fonts-color);
}

.contact-icon {
  margin-right: 10px;
}

.header-contact-link:hover .contact-icon,
.header-contact-link:focus .contact-icon {
  --color1: var(--active-link-fonts-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: 1600px, 1600px;
}

.hero-container {
  padding-bottom: 106px;
  padding-top: 106px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--body-fonts-onbackgraund-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

.superiority-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--horisondal-content-offset-negative);
  margin-top: var(--vertical-content-offset-negative);
}

.superiority-item {
  margin-left: var(--horisondal-content-offset-positive);
  margin-top: var(--horisondal-content-offset-positive);
  flex-basis: calc(100% / 4 - var(--horisondal-content-offset-positive));
}

.superiority-img-block {
  width: 270px;
  height: 120px;
  display: flex;
  background-color: var(--body-additional-color);
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.superiority-img {
  height: 70px;
  width: 70px;
}

.superiority-name {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.superiority-after-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--general-text-fonts-color);
}

.scills-section {
  padding-top: 0;
}

.scills-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--horisondal-content-offset-negative);
}

.scills-item {
  margin-top: var(--vertical-content-offset-positive);
  margin-left: var(--horisondal-content-offset-positive);
  flex-basis: calc(100% / 3 - var(--horisondal-content-offset-positive));
}

.scills-link > img {
  object-fit: cover;
}

.scills-content {
  position: relative;
}

.scills-content-overlay {
  position: absolute;
  display: block;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  padding-top: 27px;
  padding-bottom: 27px;
  top: 224px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  letter-spacing: 0.03em;
  color: var(--body-fonts-onbackgraund-color);
  width: 100%;
  text-align: center;
}

.team-section {
  background-color: var(--body-additional-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--horisondal-content-offset-negative);
}

.team-items {
  margin-top: var(--vertical-content-offset-positive);
  margin-left: var(--horisondal-content-offset-positive);
  background-color: var(--cards-background-color);
  flex-basis: calc(100% / 4 - var(--horisondal-content-offset-positive));
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.team-fig-caption {
  margin-top: var(--vertical-content-offset-positive);
  margin-bottom: var(--vertical-content-offset-positive);
}

.team-member-names {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-member-positions {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--general-text-fonts-color);
  margin-bottom: 16px;
}

.regcustomers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: var(--horisondal-content-offset-negative);
}

.regcustomers-item {
  height: 92px;
  width: 170px;
  margin-left: var(--horisondal-content-offset-positive);
  margin-top: var(--vertical-content-offset-positive);
}

.regcustomers-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-svg-color);
  padding: 15px 31px;
  transition: border-color var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.regcustomers-link:hover,
.regcustomers-link:focus {
  border-color: var(--active-link-fonts-color);
}

.regcustomers-icon {
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  transition: fill var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.regcustomers-link:hover .regcustomers-icon,
.regcustomers-link:focus .regcustomers-icon {
  fill: var(--active-link-fonts-color);
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-adress {
  margin-right: 70px;
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-fonts-onbackgraund-color);
}

.address-link:hover, .address-link:focus {
  color: var(--active-link-fonts-color);
}

.address-telmail-link {
  color: rgba(255, 255, 255, 0.6);
}

.address-item {
  margin-bottom: 9px;
}

.footer-social {
  margin-right: 93px;
}

.footer-social-title {
  text-transform: uppercase;
  color: var(--body-fonts-onbackgraund-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 12px;
}

.footer-subscribing-label {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--body-fonts-onbackgraund-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 12px;
}

.footer-subscribing {
  flex-grow: 1;
}

.footer-subscribing-wrapper {
  display: flex;
}

.footer-subscribing-input {
  flex-grow: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  color: var(--body-fonts-onbackgraund-color);
  margin-right: 12px;
  outline: none;
}

.footer-subscribing-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(20 / 16);
  text-align: left;
  vertical-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.product-buttom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.product-buttom-item:not(:last-child) {
  margin-right: 8px;
}

.product-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  border: 0;
  border-radius: 4px;
  background-color: var(--body-additional-color);
  padding: 6px 22px;
}

.product-btn:hover, .product-btn:focus {
  color: var(--active-btn-fonts-color);
  background-color: var(--active-btn-background-color);
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.12), 0px 1px 2px 0 rgba(0, 0, 0, 0.8), 0px 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.products-example-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--horisondal-content-offset-negative);
}

.products-example-item {
  background-color: var(--cards-background-color);
  margin-left: var(--horisondal-content-offset-positive);
  margin-top: var(--vertical-content-offset-positive);
  border-bottom: 1px solid var(--product-example-card-border);
  flex-basis: calc(100% / 3 - var(--horisondal-content-offset-positive));
}

.products-example-link {
  display: block;
  transition: box-shadow var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.products-example-link:focus, .products-example-link:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.products-example-content {
  position: relative;
  overflow: hidden;
}

.product-description-content {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 24px;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-image: linear-gradient(to left, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--body-fonts-onbackgraund-color);
  transform: translateY(100%);
  transition: transform var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.products-example-link:hover .product-description-content,
.products-example-link:focus .product-description-content {
  position: absolute;
  transform: translateY(0);
}

.product-name-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.products-example-partner {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--body-fonts-main-color);
  margin-bottom: 4px;
}

.products-example-type {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--general-text-fonts-color);
}
/*# sourceMappingURL=main.css.map */