.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  justify-content: center;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-logo__back {
  color: var(--logo-footer-back-color);
}
.footer__contacts {
  margin-right: 70px;
}
.contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--body-fonts-onbackgraund-color);
  &:hover,
  &:focus {
    color: var(--active-link-fonts-color);
  }
}
.contacts__telmail-link {
  color: rgba(255, 255, 255, 0.6);
}
.contacts__item {
  margin-bottom: 9px;
}
.footer-socials {
  margin-right: 93px;
}
.footer-socials__title {
  text-transform: uppercase;
  color: var(--body-fonts-onbackgraund-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 12px;
}
.footer-socials__link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-socials__icon {
  fill: var(--body-fonts-onbackgraund-color);
}
.footer-subscribing {
  flex-grow: 1;
}
.footer-subscribing__label {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--body-fonts-onbackgraund-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 12px;
}
.footer-subscribing__box {
  display: flex;
}
.footer-subscribing__input {
  flex-grow: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  color: var(--body-fonts-onbackgraund-color);
  margin-right: 12px;
  outline: none;
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(20 / 16);
    text-align: left;
    vertical-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
