.social-list {
    display: flex;
    justify-content: center;
  }
  .social-item {
    height: 44px;
    width: 44px;
  }
  .social-item + .social-item {
    margin-left: 10px;
  }
  .social-link {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color var(--animation-time)
      cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link:hover,
  .social-link:focus {
    background-color: var(--active-btn-background-color);
  }
  .social-link:hover .social-icon,
  .social-link:focus .social-icon {
    fill: var(--body-fonts-onbackgraund-color);
  }
  .social-icon {
    fill: var(--main-svg-color);
    width: 20px;
    height: 20px;
    transition: fill var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link-footer {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .social-icon-footer {
    fill: var(--body-fonts-onbackgraund-color);
  }
  